# Ignorar entorno virtual
venv/
ENV/
env/
.venv/

# Ignorar archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs y bases de datos temporales
*.log
*.sqlite3

# Configuración del editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de pruebas o temporales
*.bak
*.swp
*.tmp

# Archivos de instalación
*.egg
*.egg-info/
dist/
build/
